anyio==3.6.1
APScheduler==3.9.1
attrs==21.4.0
black==22.3.0
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.0.12
cheroot==8.6.0
CherryPy==18.6.1
click==8.1.3
decorator==5.1.1
dnspython==2.2.1
email-validator==1.2.1
h11==0.12.0
h2==4.1.0
hpack==4.0.0
httpcore==0.15.0
httpx==0.23.0
hypercorn==0.13.2
hyperframe==6.0.1
idna==3.3
iniconfig==1.1.1
ipaddress==1.0.23
jaraco.classes==3.2.1
jaraco.collections==3.5.1
jaraco.context==4.1.1
jaraco.functools==3.5.0
jaraco.text==3.8.0
loguru==0.5.3
more-itertools==8.13.0
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
phonenumbers==8.12.50
platformdirs==2.5.2
pluggy==1.0.0
portend==3.1.0
priority==2.0.0
py==1.11.0
pydantic==1.8.2
pyparsing==3.0.9
pyQiwiP2P==2.0.1
pytest==6.2.5
python-dotenv==0.17.1
python-telegram-bot==20.0a1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.0
response-report==1.1.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
starlette==0.20.3
tempora==5.0.1
toml==0.10.2
tomli==2.0.1
tornado==6.1
typing==3.7.4.3
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
validators==0.18.2
wsproto==1.1.0
XlsxWriter==3.0.3
zc.lockfile==2.0
